* {
  display: none !important;
}

html,
body,
*:has(canvas),
canvas,
canvas * {
  display: revert !important;
  opacity: 0
}

[role='navigation'] {
  display: none !important;
}

article {
  margin: auto;
  max-width: 700px;
}